In [15]:
import pandas as pd
from pprint import pprint

In [57]:
df = pd.read_csv("Backend/dataset/diabetic_data.csv")
df = df.drop(columns=["weight", "max_glu_serum", "payer_code"])
df = df.replace("?", "").replace("None", "")

treatments = [
    "metformin", 
    "repaglinide", 
    "nateglinide", 
    "chlorpropamide", 
    "glimepiride", 
    "acetohexamide", 
    "glipizide", 
    "glyburide", 
    "tolbutamide", 
    "pioglitazone", 
    "rosiglitazone", 
    "acarbose", 
    "miglitol", 
    "troglitazone", 
    "tolazamide", 
    "examide", 
    "citoglipton", #stiagliptin
    "insulin", 
    "glyburide-metformin", 
    "glipizide-metformin", 
    "glimepiride-pioglitazone", 
    "metformin-rosiglitazone", 
    "metformin-pioglitazone"
]

In [58]:
df

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,Surgery-General,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,,...,No,No,No,No,No,No,No,No,No,NO

In [59]:
biglist = df.to_dict(orient='records')

#result = dict(zip(treatments, [0 for _ in range(len(treatments))]))
result = [
    [],
    [],
    [],
    [],
    [],
    [],
]

for line in biglist:
    temp = []
    for i, k in enumerate(treatments):
        if line[k] != 'No':
            temp.append(f"{i+1}-{line[k]}")
    for i, code in enumerate(temp + [0 for _ in range(6-len(temp))]):
        result[i].append(code)

In [60]:
df2 = df.drop(columns=treatments)
for i in range(6):
    df2[f"T{i+1}"] = result[i]

In [61]:
df2[df2["T6"] != 0]

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,A1Cresult,change,diabetesMed,readmitted,T1,T2,T3,T4,T5,T6
15103,58316058,11065860,Caucasian,Male,[60-70),2,18,1,7,,...,,Ch,Yes,>30,1-Steady,7-Up,8-Steady,10-Steady,11-Steady,18-Steady
15727,60016020,2431710,Caucasian,Male,[60-70),2,1,7,5,,...,,Ch,Yes,<30,1-Steady,3-Steady,7-Steady,11-Steady,12-Steady,18-Steady
17043,63184686,1276191,Caucasian,Male,[80-90),1,18,7,4,,...,>8,Ch,Yes,NO,1-Steady,8-Steady,10-Steady,12-Steady,13-Steady,18-Steady
17125,63415968,9791118,Caucasian,Male,[70-80),1,18,7,4,Family/GeneralPractice,...,>8,Ch,Yes,<30,1-Up,3-Steady,7-Steady,8-Down,10-Steady,13-Steady
35673,110310714,88391925,Other,Male,[60-70),2,3,7,7,Emergency/Trauma,...,>8,Ch,Yes,>30,1-Steady,5-Steady,7-Steady,10-Steady,18-Up,19-Steady

In [45]:
df2.to_csv("Backend/dataset/diabetic_data_filtered.csv")

Avec ce premier filtrage, on réduit de 30% la taille du dataset sans perdre trop d'informations

In [62]:
df2 = df2.set_index("encounter_id").sort_index()
df2

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,...,A1Cresult,change,diabetesMed,readmitted,T1,T2,T3,T4,T5,T6
encounter_id,,,,,,,,,,,,,,,,,,,,,
12522,48330783,Caucasian,Female,[80-90),2,1,4,13,,68,...,,Ch,Yes,NO,7-Steady,18-Steady,0,0,0,0
15738,63555939,Caucasian,Female,[90-100),3,3,4,12,InternalMedicine,33,...,,Ch,Yes,NO,11-Steady,18-Steady,0,0,0,0
16680,42519267,Caucasian,Male,[40-50),1,1,7,1,,51,...,,Ch,Yes,NO,7-Steady,18-Steady,0,0,0,0
28236,89869032,AfricanAmerican,Female,[40-50),1,1,7,9,,47,...,,No,Yes,>30,18-Steady,0,0,0,0,0
35754,82637451,Caucasian,Male,[50-60),2,1,2,3,,31,...,,No,Yes,>30,18-Steady,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,,51,...,>8,Ch,Yes,>30,1-Steady,18-Down,0,0,0,0
443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,,33,...,,No,Yes,NO,18-Steady,0,0,0,0,0
443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,,53,...,,Ch,Yes,NO,1-Steady,18-Down,0,0,0,0
443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,Surgery-General,45,...,,Ch,Yes,NO,7-Steady,10-Steady,18-Up,0,0,0
443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,,13,...,,No,No,NO,0,0,0,0,0,0

In [ ]:
# TODO : faire une analyse des fréquences d'apparition des traitements ? (en fonction du nombre de traitements adressés à une personne ?)
# TODO : nb(traitements) ~ Age
# TODO : traitement ~ ethnie