In [1]:
import pandas as pd
from pprint import pprint

In [2]:
df = pd.read_csv("diabetic_data.csv")
df = df.drop(columns=["weight", "max_glu_serum", "payer_code"])
df = df.replace("?", "").replace("None", "")

treatments = [
    "metformin", 
    "repaglinide", 
    "nateglinide", 
    "chlorpropamide", 
    "glimepiride", 
    "acetohexamide", 
    "glipizide", 
    "glyburide", 
    "tolbutamide", 
    "pioglitazone", 
    "rosiglitazone", 
    "acarbose", 
    "miglitol", 
    "troglitazone", 
    "tolazamide", 
    "examide", 
    "citoglipton", #stiagliptin
    "insulin", 
    "glyburide-metformin", 
    "glipizide-metformin", 
    "glimepiride-pioglitazone", 
    "metformin-rosiglitazone", 
    "metformin-pioglitazone"
]

In [3]:
df

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,Surgery-General,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,,...,No,No,No,No,No,No,No,No,No,NO

In [4]:
biglist = df.to_dict(orient='records')

#result = dict(zip(treatments, [0 for _ in range(len(treatments))]))
result = [
    [],
    [],
    [],
    [],
    [],
    [],
]

for line in biglist:
    temp = []
    for i, k in enumerate(treatments):
        if line[k] != 'No':
            temp.append(f"{i+1}-{line[k]}")
    for i, code in enumerate(temp + [0 for _ in range(6-len(temp))]):
        result[i].append(code)

In [5]:
df2 = df.drop(columns=treatments)
for i in range(6):
    df2[f"T{i+1}"] = result[i]

In [6]:
df2[df2["T6"] != 0]

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,A1Cresult,change,diabetesMed,readmitted,T1,T2,T3,T4,T5,T6
15103,58316058,11065860,Caucasian,Male,[60-70),2,18,1,7,,...,,Ch,Yes,>30,1-Steady,7-Up,8-Steady,10-Steady,11-Steady,18-Steady
15727,60016020,2431710,Caucasian,Male,[60-70),2,1,7,5,,...,,Ch,Yes,<30,1-Steady,3-Steady,7-Steady,11-Steady,12-Steady,18-Steady
17043,63184686,1276191,Caucasian,Male,[80-90),1,18,7,4,,...,>8,Ch,Yes,NO,1-Steady,8-Steady,10-Steady,12-Steady,13-Steady,18-Steady
17125,63415968,9791118,Caucasian,Male,[70-80),1,18,7,4,Family/GeneralPractice,...,>8,Ch,Yes,<30,1-Up,3-Steady,7-Steady,8-Down,10-Steady,13-Steady
35673,110310714,88391925,Other,Male,[60-70),2,3,7,7,Emergency/Trauma,...,>8,Ch,Yes,>30,1-Steady,5-Steady,7-Steady,10-Steady,18-Up,19-Steady

In [7]:
df2.to_csv("diabetic_data_filtered.csv")

Avec ce premier filtrage, on réduit de 30% la taille du dataset sans perdre trop d'informations

In [8]:
df2 = df2.set_index("encounter_id").sort_index()
df2

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,...,A1Cresult,change,diabetesMed,readmitted,T1,T2,T3,T4,T5,T6
encounter_id,,,,,,,,,,,,,,,,,,,,,
12522,48330783,Caucasian,Female,[80-90),2,1,4,13,,68,...,,Ch,Yes,NO,7-Steady,18-Steady,0,0,0,0
15738,63555939,Caucasian,Female,[90-100),3,3,4,12,InternalMedicine,33,...,,Ch,Yes,NO,11-Steady,18-Steady,0,0,0,0
16680,42519267,Caucasian,Male,[40-50),1,1,7,1,,51,...,,Ch,Yes,NO,7-Steady,18-Steady,0,0,0,0
28236,89869032,AfricanAmerican,Female,[40-50),1,1,7,9,,47,...,,No,Yes,>30,18-Steady,0,0,0,0,0
35754,82637451,Caucasian,Male,[50-60),2,1,2,3,,31,...,,No,Yes,>30,18-Steady,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,,51,...,>8,Ch,Yes,>30,1-Steady,18-Down,0,0,0,0
443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,,33,...,,No,Yes,NO,18-Steady,0,0,0,0,0
443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,,53,...,,Ch,Yes,NO,1-Steady,18-Down,0,0,0,0
443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,Surgery-General,45,...,,Ch,Yes,NO,7-Steady,10-Steady,18-Up,0,0,0
443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,,13,...,,No,No,NO,0,0,0,0,0,0

In [ ]:
# TODO : faire une analyse des fréquences d'apparition des traitements ? (en fonction du nombre de traitements adressés à une personne ?)
# TODO : nb(traitements) ~ Age
# TODO : traitement ~ ethnie

# Fréquence apparition traitements

In [132]:
def count_treatments(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[(df['T1'].str.contains(str(i)+'-', na=False) & ~df['T1'].str.contains(str(i+10)+'-', na=False)) | (df['T2'].str.contains(str(i)+'-', na=False) & ~df['T2'].str.contains(str(i+10)+'-', na=False)) | (df['T3'].str.contains(str(i)+'-', na=False) & ~df['T3'].str.contains(str(i+10)+'-', na=False)) | (df['T4'].str.contains(str(i)+'-', na=False) & ~df['T4'].str.contains(str(i+10)+'-', na=False)) | (df['T5'].str.contains(str(i)+'-', na=False) & ~df['T5'].str.contains(str(i+10)+'-', na=False)) | (df['T6'].str.contains(str(i)+'-', na=False) & ~df['T6'].str.contains(str(i+10)+'-', na=False))].count()
        contained.append(contain_values)
    return contained

In [133]:
def normalize(list_values, div):
    for i in range(len(list_values)):
        list_values[i] = list_values[i]*100/div
    return list_values

In [134]:
freq_treatments = normalize(count_treatments(df2),101766)

[patient_nbr                 19.64212
 race                        19.64212
 gender                      19.64212
 age                         19.64212
 admission_type_id           19.64212
 discharge_disposition_id    19.64212
 admission_source_id         19.64212
 time_in_hospital            19.64212
 medical_specialty           19.64212
 num_lab_procedures          19.64212
 num_procedures              19.64212
 num_medications             19.64212
 number_outpatient           19.64212
 number_emergency            19.64212
 number_inpatient            19.64212
 diag_1                      19.64212
 diag_2                      19.64212
 diag_3                      19.64212
 number_diagnoses            19.64212
 A1Cresult                   19.64212
 change                      19.64212
 diabetesMed                 19.64212
 readmitted                  19.64212
 T1                          19.64212
 T2                          19.64212
 T3                          19.64212
 T4                          19.64212
 T5                          19.64212
 T6                          19.64212
 dtype: float64,
 patient_nbr                 1.514258
 race                        1.514258
 gender                      1.514258
 age                         1.514258
 admission_type_id           1.514258
 discharge_disposition_id    1.514258
 admission_source_id         1.514258
 time_in_hospital            1.514258
 medical_specialty           1.514258
 num_lab_procedures          1.514258
 num_procedures              1.514258
 num_medications             1.514258
 number_outpatient           1.514258
 number_emergency            1.514258
 number_inpatient            1.514258
 diag_1                      1.514258
 diag_2                      1.514258
 diag_3                      1.514258
 number_diagnoses            1.514258
 A1Cresult                   1.514258
 change                      1.514258
 diabetesMed                 1.514258
 readmitted                  1.514258
 T1                          1.514258
 T2                          1.514258
 T3                          1.514258
 T4                          1.514258
 T5                          1.514258
 T6                          1.514258
 dtype: float64,
 patient_nbr                 0.691783
 race                        0.691783
 gender                      0.691783
 age                         0.691783
 admission_type_id           0.691783
 discharge_disposition_id    0.691783
 admission_source_id         0.691783
 time_in_hospital            0.691783
 medical_specialty           0.691783
 num_lab_procedures          0.691783
 num_procedures              0.691783
 num_medications             0.691783
 number_outpatient           0.691783
 number_emergency            0.691783
 number_inpatient            0.691783
 diag_1                      0.691783
 diag_2                      0.691783
 diag_3                      0.691783
 number_diagnoses            0.691783
 A1Cresult                   0.691783
 change                      0.691783
 diabetesMed                 0.691783
 readmitted                  0.691783
 T1                          0.691783
 T2                          0.691783
 T3                          0.691783
 T4                          0.691783
 T5                          0.691783
 T6                          0.691783
 dtype: float64,
 patient_nbr                 0.084508
 race                        0.084508
 gender                      0.084508
 age                         0.084508
 admission_type_id           0.084508
 discharge_disposition_id    0.084508
 admission_source_id         0.084508
 time_in_hospital            0.084508
 medical_specialty           0.084508
 num_lab_procedures          0.084508
 num_procedures              0.084508
 num_medications             0.084508
 number_outpatient           0.084508
 number_emergency            0.084508
 number_inpatient            0.084508
 diag_1                      0.084508
 diag_2                      0.084508
 diag_3                      0.084508
 number_diagnoses            0.084508
 A1Cresult                   0.084508
 change                      0.084508
 diabetesMed                 0.084508
 readmitted                  0.084508
 T1                          0.084508
 T2                          0.084508
 T3                          0.084508
 T4                          0.084508
 T5                          0.084508
 T6                          0.084508
 dtype: float64,
 patient_nbr                 5.100918
 race                        5.100918
 gender                      5.100918
 age                         5.100918
 admission_type_id           5.100918
 discharge_disposition_id    5.100918
 admission_source_id         5.100918
 time_in_hospital            5.100918
 medical_specialty           5.100918
 num_lab_procedures          5.100918
 num_procedures              5.100918
 num_medications             5.100918
 number_outpatient           5.100918
 number_emergency            5.100918
 number_inpatient            5.100918
 diag_1                      5.100918
 diag_2                      5.100918
 diag_3                      5.100918
 number_diagnoses            5.100918
 A1Cresult                   5.100918
 change                      5.100918
 diabetesMed                 5.100918
 readmitted                  5.100918
 T1                          5.100918
 T2                          5.100918
 T3                          5.100918
 T4                          5.100918
 T5                          5.100918
 T6                          5.100918
 dtype: float64,
 patient_nbr                 0.000983
 race                        0.000983
 gender                      0.000983
 age                         0.000983
 admission_type_id           0.000983
 discharge_disposition_id    0.000983
 admission_source_id         0.000983
 time_in_hospital            0.000983
 medical_specialty           0.000983
 num_lab_procedures          0.000983
 num_procedures              0.000983
 num_medications             0.000983
 number_outpatient           0.000983
 number_emergency            0.000983
 number_inpatient            0.000983
 diag_1                      0.000983
 diag_2                      0.000983
 diag_3                      0.000983
 number_diagnoses            0.000983
 A1Cresult                   0.000983
 change                      0.000983
 diabetesMed                 0.000983
 readmitted                  0.000983
 T1                          0.000983
 T2                          0.000983
 T3                          0.000983
 T4                          0.000983
 T5                          0.000983
 T6                          0.000983
 dtype: float64,
 patient_nbr                 12.465853
 race                        12.465853
 gender                      12.465853
 age                         12.465853
 admission_type_id           12.465853
 discharge_disposition_id    12.465853
 admission_source_id         12.465853
 time_in_hospital            12.465853
 medical_specialty           12.465853
 num_lab_procedures          12.465853
 num_procedures              12.465853
 num_medications             12.465853
 number_outpatient           12.465853
 number_emergency            12.465853
 number_inpatient            12.465853
 diag_1                      12.465853
 diag_2                      12.465853
 diag_3                      12.465853
 number_diagnoses            12.465853
 A1Cresult                   12.465853
 change                      12.465853
 diabetesMed                 12.465853
 readmitted                  12.465853
 T1                          12.465853
 T2                          12.465853
 T3                          12.465853
 T4                          12.465853
 T5                          12.465853
 T6                          12.465853
 dtype: float64,
 patient_nbr                 10.465185
 race                        10.465185
 gender                      10.465185
 age                         10.465185
 admission_type_id           10.465185
 discharge_disposition_id    10.465185
 admission_source_id         10.465185
 time_in_hospital            10.465185
 medical_specialty           10.465185
 num_lab_procedures          10.465185
 num_procedures              10.465185
 num_medications             10.465185
 number_outpatient           10.465185
 number_emergency            10.465185
 number_inpatient            10.465185
 diag_1                      10.465185
 diag_2                      10.465185
 diag_3                      10.465185
 number_diagnoses            10.465185
 A1Cresult                   10.465185
 change                      10.465185
 diabetesMed                 10.465185
 readmitted                  10.465185
 T1                          10.465185
 T2                          10.465185
 T3                          10.465185
 T4                          10.465185
 T5                          10.465185
 T6                          10.465185
 dtype: float64,
 patient_nbr                 0.022601
 race                        0.022601
 gender                      0.022601
 age                         0.022601
 admission_type_id           0.022601
 discharge_disposition_id    0.022601
 admission_source_id         0.022601
 time_in_hospital            0.022601
 medical_specialty           0.022601
 num_lab_procedures          0.022601
 num_procedures              0.022601
 num_medications             0.022601
 number_outpatient           0.022601
 number_emergency            0.022601
 number_inpatient            0.022601
 diag_1                      0.022601
 diag_2                      0.022601
 diag_3                      0.022601
 number_diagnoses            0.022601
 A1Cresult                   0.022601
 change                      0.022601
 diabetesMed                 0.022601
 readmitted                  0.022601
 T1                          0.022601
 T2                          0.022601
 T3                          0.022601
 T4                          0.022601
 T5                          0.022601
 T6                          0.022601
 dtype: float64,
 patient_nbr                 7.200833
 race                        7.200833
 gender                      7.200833
 age                         7.200833
 admission_type_id           7.200833
 discharge_disposition_id    7.200833
 admission_source_id         7.200833
 time_in_hospital            7.200833
 medical_specialty           7.200833
 num_lab_procedures          7.200833
 num_procedures              7.200833
 num_medications             7.200833
 number_outpatient           7.200833
 number_emergency            7.200833
 number_inpatient            7.200833
 diag_1                      7.200833
 diag_2                      7.200833
 diag_3                      7.200833
 number_diagnoses            7.200833
 A1Cresult                   7.200833
 change                      7.200833
 diabetesMed                 7.200833
 readmitted                  7.200833
 T1                          7.200833
 T2                          7.200833
 T3                          7.200833
 T4                          7.200833
 T5                          7.200833
 T6                          7.200833
 dtype: float64,
 patient_nbr                 6.254545
 race                        6.254545
 gender                      6.254545
 age                         6.254545
 admission_type_id           6.254545
 discharge_disposition_id    6.254545
 admission_source_id         6.254545
 time_in_hospital            6.254545
 medical_specialty           6.254545
 num_lab_procedures          6.254545
 num_procedures              6.254545
 num_medications             6.254545
 number_outpatient           6.254545
 number_emergency            6.254545
 number_inpatient            6.254545
 diag_1                      6.254545
 diag_2                      6.254545
 diag_3                      6.254545
 number_diagnoses            6.254545
 A1Cresult                   6.254545
 change                      6.254545
 diabetesMed                 6.254545
 readmitted                  6.254545
 T1                          6.254545
 T2                          6.254545
 T3                          6.254545
 T4                          6.254545
 T5                          6.254545
 T6                          6.254545
 dtype: float64,
 patient_nbr                 0.302655
 race                        0.302655
 gender                      0.302655
 age                         0.302655
 admission_type_id           0.302655
 discharge_disposition_id    0.302655
 admission_source_id         0.302655
 time_in_hospital            0.302655
 medical_specialty           0.302655
 num_lab_procedures          0.302655
 num_procedures              0.302655
 num_medications             0.302655
 number_outpatient           0.302655
 number_emergency            0.302655
 number_inpatient            0.302655
 diag_1                      0.302655
 diag_2                      0.302655
 diag_3                      0.302655
 number_diagnoses            0.302655
 A1Cresult                   0.302655
 change                      0.302655
 diabetesMed                 0.302655
 readmitted                  0.302655
 T1                          0.302655
 T2                          0.302655
 T3                          0.302655
 T4                          0.302655
 T5                          0.302655
 T6                          0.302655
 dtype: float64,
 patient_nbr                 0.037341
 race                        0.037341
 gender                      0.037341
 age                         0.037341
 admission_type_id           0.037341
 discharge_disposition_id    0.037341
 admission_source_id         0.037341
 time_in_hospital            0.037341
 medical_specialty           0.037341
 num_lab_procedures          0.037341
 num_procedures              0.037341
 num_medications             0.037341
 number_outpatient           0.037341
 number_emergency            0.037341
 number_inpatient            0.037341
 diag_1                      0.037341
 diag_2                      0.037341
 diag_3                      0.037341
 number_diagnoses            0.037341
 A1Cresult                   0.037341
 change                      0.037341
 diabetesMed                 0.037341
 readmitted                  0.037341
 T1                          0.037341
 T2                          0.037341
 T3                          0.037341
 T4                          0.037341
 T5                          0.037341
 T6                          0.037341
 dtype: float64,
 patient_nbr                 0.002948
 race                        0.002948
 gender                      0.002948
 age                         0.002948
 admission_type_id           0.002948
 discharge_disposition_id    0.002948
 admission_source_id         0.002948
 time_in_hospital            0.002948
 medical_specialty           0.002948
 num_lab_procedures          0.002948
 num_procedures              0.002948
 num_medications             0.002948
 number_outpatient           0.002948
 number_emergency            0.002948
 number_inpatient            0.002948
 diag_1                      0.002948
 diag_2                      0.002948
 diag_3                      0.002948
 number_diagnoses            0.002948
 A1Cresult                   0.002948
 change                      0.002948
 diabetesMed                 0.002948
 readmitted                  0.002948
 T1                          0.002948
 T2                          0.002948
 T3                          0.002948
 T4                          0.002948
 T5                          0.002948
 T6                          0.002948
 dtype: float64,
 patient_nbr                 0.038323
 race                        0.038323
 gender                      0.038323
 age                         0.038323
 admission_type_id           0.038323
 discharge_disposition_id    0.038323
 admission_source_id         0.038323
 time_in_hospital            0.038323
 medical_specialty           0.038323
 num_lab_procedures          0.038323
 num_procedures              0.038323
 num_medications             0.038323
 number_outpatient           0.038323
 number_emergency            0.038323
 number_inpatient            0.038323
 diag_1                      0.038323
 diag_2                      0.038323
 diag_3                      0.038323
 number_diagnoses            0.038323
 A1Cresult                   0.038323
 change                      0.038323
 diabetesMed                 0.038323
 readmitted                  0.038323
 T1                          0.038323
 T2                          0.038323
 T3                          0.038323
 T4                          0.038323
 T5                          0.038323
 T6                          0.038323
 dtype: float64,
 patient_nbr                 0.0
 race                        0.0
 gender                      0.0
 age                         0.0
 admission_type_id           0.0
 discharge_disposition_id    0.0
 admission_source_id         0.0
 time_in_hospital            0.0
 medical_specialty           0.0
 num_lab_procedures          0.0
 num_procedures              0.0
 num_medications             0.0
 number_outpatient           0.0
 number_emergency            0.0
 number_inpatient            0.0
 diag_1                      0.0
 diag_2                      0.0
 diag_3                      0.0
 number_diagnoses            0.0
 A1Cresult                   0.0
 change                      0.0
 diabetesMed                 0.0
 readmitted                  0.0
 T1                          0.0
 T2                          0.0
 T3                          0.0
 T4                          0.0
 T5                          0.0
 T6                          0.0
 dtype: float64,
 patient_nbr                 0.0
 race                        0.0
 gender                      0.0
 age                         0.0
 admission_type_id           0.0
 discharge_disposition_id    0.0
 admission_source_id         0.0
 time_in_hospital            0.0
 medical_specialty           0.0
 num_lab_procedures          0.0
 num_procedures              0.0
 num_medications             0.0
 number_outpatient           0.0
 number_emergency            0.0
 number_inpatient            0.0
 diag_1                      0.0
 diag_2                      0.0
 diag_3                      0.0
 number_diagnoses            0.0
 A1Cresult                   0.0
 change                      0.0
 diabetesMed                 0.0
 readmitted                  0.0
 T1                          0.0
 T2                          0.0
 T3                          0.0
 T4                          0.0
 T5                          0.0
 T6                          0.0
 dtype: float64,
 patient_nbr                 53.439263
 race                        53.439263
 gender                      53.439263
 age                         53.439263
 admission_type_id           53.439263
 discharge_disposition_id    53.439263
 admission_source_id         53.439263
 time_in_hospital            53.439263
 medical_specialty           53.439263
 num_lab_procedures          53.439263
 num_procedures              53.439263
 num_medications             53.439263
 number_outpatient           53.439263
 number_emergency            53.439263
 number_inpatient            53.439263
 diag_1                      53.439263
 diag_2                      53.439263
 diag_3                      53.439263
 number_diagnoses            53.439263
 A1Cresult                   53.439263
 change                      53.439263
 diabetesMed                 53.439263
 readmitted                  53.439263
 T1                          53.439263
 T2                          53.439263
 T3                          53.439263
 T4                          53.439263
 T5                          53.439263
 T6                          53.439263
 dtype: float64]

In [135]:
df_freq = pd.DataFrame(freq_treatments, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
df_freq = df_freq['patient_nbr']
df_freq

1     19.642120
2      1.514258
3      0.691783
4      0.084508
5      5.100918
6      0.000983
7     12.465853
8     10.465185
9      0.022601
10     7.200833
11     6.254545
12     0.302655
13     0.037341
14     0.002948
15     0.038323
16     0.000000
17     0.000000
18    53.439263
Name: patient_nbr, dtype: float64

In [138]:
def count_treatments1(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[df['T1'].str.contains(str(i)+'-', na=False) & ~df['T1'].str.contains(str(i+10)+'-', na=False)].count() 
        contained.append(contain_values)
    return contained

freq_treatments1 = normalize(count_treatments1(df2[["patient_nbr","T1"]]),101766)
df_freq1 = pd.DataFrame(freq_treatments1, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
df_freq1= df_freq1['patient_nbr']
df_freq1

1     19.641138
2      1.225360
3      0.493289
4      0.079594
5      3.651514
6      0.000983
7      8.798616
8      6.500206
9      0.021618
10     3.154295
11     2.448755
12     0.069768
13     0.012774
14     0.000983
15     0.024566
16     0.000000
17     0.000000
18    30.676257
Name: patient_nbr, dtype: float64

In [139]:
def count_treatments2(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[df['T2'].str.contains(str(i)+'-', na=False) & ~df['T2'].str.contains(str(i+10)+'-', na=False)].count() 
        contained.append(contain_values)
    return contained

freq_treatments2 = normalize(count_treatments2(df2[["patient_nbr","T2"]]),101766)
df_freq2 = pd.DataFrame(freq_treatments2, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
df_freq2= df_freq2['patient_nbr']
df_freq2

1      0.000983
2      0.287915
3      0.197512
4      0.004913
5      1.422872
6      0.000000
7      3.595503
8      3.825443
9      0.000983
10     2.967592
11     2.678694
12     0.134623
13     0.008844
14     0.001965
15     0.008844
16     0.000000
17     0.000000
18    15.057092
Name: patient_nbr, dtype: float64

In [140]:
def count_treatments3(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[df['T3'].str.contains(str(i)+'-', na=False) & ~df['T3'].str.contains(str(i+10)+'-', na=False)].count() 
        contained.append(contain_values)
    return contained

freq_treatments3 = normalize(count_treatments3(df2[["patient_nbr","T3"]]),101766)
df_freq3 = pd.DataFrame(freq_treatments3, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
df_freq3= df_freq3['patient_nbr']
df_freq3

1     0.000000
2     0.000983
3     0.000000
4     0.000000
5     0.026531
6     0.000000
7     0.069768
8     0.136588
9     0.000000
10    1.042588
11    1.086807
12    0.079594
13    0.012774
14    0.000000
15    0.004913
16    0.000000
17    0.000000
18    6.402924
Name: patient_nbr, dtype: float64

In [141]:
def count_treatments4(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[df['T4'].str.contains(str(i)+'-', na=False) & ~df['T4'].str.contains(str(i+10)+'-', na=False)].count() 
        contained.append(contain_values)
    return contained

freq_treatments4 = normalize(count_treatments4(df2[["patient_nbr","T4"]]),101766)
df_freq4 = pd.DataFrame(freq_treatments4, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
df_freq4 = df_freq4['patient_nbr']
df_freq4

1     0.000000
2     0.000000
3     0.000983
4     0.000000
5     0.000000
6     0.000000
7     0.001965
8     0.002948
9     0.000000
10    0.035375
11    0.039306
12    0.016705
13    0.000983
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    1.245013
Name: patient_nbr, dtype: float64

In [142]:
def count_treatments5(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[df['T5'].str.contains(str(i)+'-', na=False) & ~df['T5'].str.contains(str(i+10)+'-', na=False)].count() 
        contained.append(contain_values)
    return contained

freq_treatments5 = normalize(count_treatments5(df2[["patient_nbr","T5"]]),101766)
df_freq5 = pd.DataFrame(freq_treatments5, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
df_freq5= df_freq5['patient_nbr']
df_freq5

1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000983
11    0.000983
12    0.001965
13    0.000983
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.055028
Name: patient_nbr, dtype: float64

In [144]:
def count_treatments6(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[df['T6'].str.contains(str(i)+'-', na=False) & ~df['T6'].str.contains(str(i+10)+'-', na=False)].count() 
        contained.append(contain_values)
    return contained

freq_treatments6 = normalize(count_treatments6(df2[["patient_nbr","T6"]]),101766)
df_freq6 = pd.DataFrame(freq_treatments6, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
df_freq6= df_freq6['patient_nbr']
df_freq6

1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000983
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.002948
Name: patient_nbr, dtype: float64

# Traitement age

In [20]:
df_age = df2[["patient_nbr","age","T1","T2","T3","T4","T5","T6"]]
df_age

              patient_nbr       age         T1         T2     T3 T4 T5 T6
encounter_id
12522            48330783   [80-90)   7-Steady  18-Steady      0  0  0  0
15738            63555939  [90-100)  11-Steady  18-Steady      0  0  0  0
16680            42519267   [40-50)   7-Steady  18-Steady      0  0  0  0
28236            89869032   [40-50)  18-Steady          0      0  0  0  0
35754            82637451   [50-60)  18-Steady          0      0  0  0  0
...                   ...       ...        ...        ...    ... .. .. ..
443847548       100162476   [70-80)   1-Steady    18-Down      0  0  0  0
443847782        74694222   [80-90)  18-Steady          0      0  0  0  0
443854148        41088789   [70-80)   1-Steady    18-Down      0  0  0  0
443857166        31693671   [80-90)   7-Steady  10-Steady  18-Up  0  0  0
443867222       175429310   [70-80)          0          0      0  0  0  0

[101766 rows x 8 columns]

In [21]:
df_age=df_age.sort_values(by=['age',"T1","T2","T3","T4","T5","T6"])
df_age

              patient_nbr       age        T1         T2 T3 T4 T5 T6
encounter_id
2278392           8222157    [0-10)         0          0  0  0  0  0
10267602          3608811    [0-10)         0          0  0  0  0  0
10728900         12615390    [0-10)         0          0  0  0  0  0
18476064          5236596    [0-10)         0          0  0  0  0  0
18757914          7691157    [0-10)         0          0  0  0  0  0
...                   ...       ...       ...        ... .. .. .. ..
149259144        27950544  [90-100)      8-Up      18-Up  0  0  0  0
54269280         24669009  [90-100)  9-Steady          0  0  0  0  0
247869696        33069474  [90-100)  9-Steady    18-Down  0  0  0  0
17607900        107258328  [90-100)  9-Steady  18-Steady  0  0  0  0
261759054        33069474  [90-100)  9-Steady      18-Up  0  0  0  0

[101766 rows x 8 columns]

In [41]:
df_age_count_values = df_age.groupby("age").count()
df_age_count_values

          patient_nbr     T1     T2     T3     T4     T5     T6
age
[0-10)            161    161    161    161    161    161    161
[10-20)           691    691    691    691    691    691    691
[20-30)          1657   1657   1657   1657   1657   1657   1657
[30-40)          3775   3775   3775   3775   3775   3775   3775
[40-50)          9685   9685   9685   9685   9685   9685   9685
[50-60)         17256  17256  17256  17256  17256  17256  17256
[60-70)         22483  22483  22483  22483  22483  22483  22483
[70-80)         26068  26068  26068  26068  26068  26068  26068
[80-90)         17197  17197  17197  17197  17197  17197  17197
[90-100)         2793   2793   2793   2793   2793   2793   2793

In [42]:
df_age2 = df_age[(df_age['T1'] != 0)].groupby("age").count()
df_age2

          patient_nbr     T1     T2     T3     T4     T5     T6
age
[0-10)            133    133    133    133    133    133    133
[10-20)           600    600    600    600    600    600    600
[20-30)          1315   1315   1315   1315   1315   1315   1315
[30-40)          2849   2849   2849   2849   2849   2849   2849
[40-50)          7405   7405   7405   7405   7405   7405   7405
[50-60)         13401  13401  13401  13401  13401  13401  13401
[60-70)         17611  17611  17611  17611  17611  17611  17611
[70-80)         20191  20191  20191  20191  20191  20191  20191
[80-90)         12914  12914  12914  12914  12914  12914  12914
[90-100)         1944   1944   1944   1944   1944   1944   1944

In [43]:
df_age3 = df_age[(df_age['T1'] != 0)&(df_age['T2'] != 0)].groupby("age").count()
df_age3

          patient_nbr    T1    T2    T3    T4    T5    T6
age
[10-20)            38    38    38    38    38    38    38
[20-30)           191   191   191   191   191   191   191
[30-40)           849   849   849   849   849   849   849
[40-50)          2904  2904  2904  2904  2904  2904  2904
[50-60)          5643  5643  5643  5643  5643  5643  5643
[60-70)          7575  7575  7575  7575  7575  7575  7575
[70-80)          8240  8240  8240  8240  8240  8240  8240
[80-90)          4933  4933  4933  4933  4933  4933  4933
[90-100)          676   676   676   676   676   676   676

In [44]:
df_age4 = df_age[(df_age['T1'] != 0)&(df_age['T2'] != 0)&(df_age['T3'] != 0)].groupby("age").count()
df_age4

          patient_nbr    T1    T2    T3    T4    T5    T6
age
[10-20)             4     4     4     4     4     4     4
[20-30)            70    70    70    70    70    70    70
[30-40)           296   296   296   296   296   296   296
[40-50)           973   973   973   973   973   973   973
[50-60)          1875  1875  1875  1875  1875  1875  1875
[60-70)          2305  2305  2305  2305  2305  2305  2305
[70-80)          2277  2277  2277  2277  2277  2277  2277
[80-90)          1238  1238  1238  1238  1238  1238  1238
[90-100)          138   138   138   138   138   138   138

In [45]:
df_age5 = df_age[(df_age['T1'] != 0)&(df_age['T2'] != 0)&(df_age['T3'] != 0)&(df_age['T4'] != 0)].groupby("age").count()
df_age5

          patient_nbr   T1   T2   T3   T4   T5   T6
age
[20-30)             9    9    9    9    9    9    9
[30-40)            43   43   43   43   43   43   43
[40-50)           159  159  159  159  159  159  159
[50-60)           307  307  307  307  307  307  307
[60-70)           367  367  367  367  367  367  367
[70-80)           339  339  339  339  339  339  339
[80-90)           160  160  160  160  160  160  160
[90-100)           14   14   14   14   14   14   14

In [46]:
df_age6 = df_age[(df_age['T1'] != 0)&(df_age['T2'] != 0)&(df_age['T3'] != 0)&(df_age['T4'] != 0)&(df_age['T5'] != 0)].groupby("age").count()
df_age6

          patient_nbr  T1  T2  T3  T4  T5  T6
age
[30-40)             1   1   1   1   1   1   1
[40-50)             9   9   9   9   9   9   9
[50-60)            15  15  15  15  15  15  15
[60-70)            16  16  16  16  16  16  16
[70-80)            16  16  16  16  16  16  16
[80-90)             5   5   5   5   5   5   5
[90-100)            1   1   1   1   1   1   1

In [47]:
df_age7 = df_age[(df_age['T1'] != 0)&(df_age['T2'] != 0)&(df_age['T3'] != 0)&(df_age['T4'] != 0)&(df_age['T5'] != 0)&(df_age['T6'] != 0)].groupby("age").count()
df_age7

         patient_nbr  T1  T2  T3  T4  T5  T6
age
[60-70)            3   3   3   3   3   3   3
[70-80)            1   1   1   1   1   1   1
[80-90)            1   1   1   1   1   1   1

We can see that most of the people following multiple treatments are between 50 and 90 years old.

# Traitement ethnies

In [97]:
df_race = df2[["patient_nbr","race","T1","T2","T3","T4","T5","T6"]]
df_race = df_race.sort_values(by=['race',"T1","T2","T3","T4","T5","T6"])
df_race = df_race.drop(df_race[df_race.race == ""].index)
df_race

              patient_nbr             race    T1         T2 T3 T4 T5 T6
encounter_id
182796           63000108  AfricanAmerican     0          0  0  0  0  0
550098           21820806  AfricanAmerican     0          0  0  0  0  0
1077924          21820806  AfricanAmerican     0          0  0  0  0  0
2091690           7919802  AfricanAmerican     0          0  0  0  0  0
2223336            558360  AfricanAmerican     0          0  0  0  0  0
...                   ...              ...   ...        ... .. .. .. ..
42006696         18347184            Other  8-Up  18-Steady  0  0  0  0
363097094       114319980            Other  8-Up  18-Steady  0  0  0  0
187196124        93809358            Other  8-Up      18-Up  0  0  0  0
255125154        44843031            Other  8-Up      18-Up  0  0  0  0
272684148       110653110            Other  8-Up      18-Up  0  0  0  0

[99493 rows x 8 columns]

In [103]:
df_race.groupby("race").count()

                 patient_nbr     T1     T2     T3     T4     T5     T6
race
AfricanAmerican        19210  19210  19210  19210  19210  19210  19210
Asian                    641    641    641    641    641    641    641
Caucasian              76099  76099  76099  76099  76099  76099  76099
Hispanic                2037   2037   2037   2037   2037   2037   2037
Other                   1506   1506   1506   1506   1506   1506   1506

In [64]:
df_afam = df_race.drop(df_race[df_race.race != "AfricanAmerican"].index)
df_as = df_race.drop(df_race[df_race.race != "Asian"].index)
df_c = df_race.drop(df_race[df_race.race != "Caucasian"].index)
df_h= df_race.drop(df_race[df_race.race != "Hispanic"].index)

In [110]:
def count_treatments(df):
    contained=[]
    for i in range(1,19):
        contain_values = df[df['T1'].str.contains(str(i)+'-', na=False) & ~df['T1'].str.contains(str(i+10)+'-', na=False)].count()
        contained.append(contain_values)
    return contained

In [120]:
values_afam = count_treatments(df_afam)
values_as = count_treatments(df_as)
values_c = count_treatments(df_c)
values_h = count_treatments(df_h)

In [121]:
def normalize(list_values, div):
    for i in range(len(list_values)):
        list_values[i] = list_values[i]*100/div
    return list_values

In [122]:
values_afam_norm = normalize(values_afam, 19210)
values_as_norm = normalize(values_as, 641)
values_c_norm = normalize(values_c, 76099)
values_h_norm = normalize(values_h, 2037)
values_afam_norm

[patient_nbr    18.214472
 race           18.214472
 T1             18.214472
 T2             18.214472
 T3             18.214472
 T4             18.214472
 T5             18.214472
 T6             18.214472
 dtype: float64,
 patient_nbr    0.74961
 race           0.74961
 T1             0.74961
 T2             0.74961
 T3             0.74961
 T4             0.74961
 T5             0.74961
 T6             0.74961
 dtype: float64,
 patient_nbr    0.645497
 race           0.645497
 T1             0.645497
 T2             0.645497
 T3             0.645497
 T4             0.645497
 T5             0.645497
 T6             0.645497
 dtype: float64,
 patient_nbr    0.031234
 race           0.031234
 T1             0.031234
 T2             0.031234
 T3             0.031234
 T4             0.031234
 T5             0.031234
 T6             0.031234
 dtype: float64,
 patient_nbr    3.024466
 race           3.024466
 T1             3.024466
 T2             3.024466
 T3             3.024466
 T4             3.024466
 T5             3.024466
 T6             3.024466
 dtype: float64,
 patient_nbr    0.0
 race           0.0
 T1             0.0
 T2             0.0
 T3             0.0
 T4             0.0
 T5             0.0
 T6             0.0
 dtype: float64,
 patient_nbr    7.57418
 race           7.57418
 T1             7.57418
 T2             7.57418
 T3             7.57418
 T4             7.57418
 T5             7.57418
 T6             7.57418
 dtype: float64,
 patient_nbr    5.013014
 race           5.013014
 T1             5.013014
 T2             5.013014
 T3             5.013014
 T4             5.013014
 T5             5.013014
 T6             5.013014
 dtype: float64,
 patient_nbr    0.005206
 race           0.005206
 T1             0.005206
 T2             0.005206
 T3             0.005206
 T4             0.005206
 T5             0.005206
 T6             0.005206
 dtype: float64,
 patient_nbr    3.045289
 race           3.045289
 T1             3.045289
 T2             3.045289
 T3             3.045289
 T4             3.045289
 T5             3.045289
 T6             3.045289
 dtype: float64,
 patient_nbr    2.529932
 race           2.529932
 T1             2.529932
 T2             2.529932
 T3             2.529932
 T4             2.529932
 T5             2.529932
 T6             2.529932
 dtype: float64,
 patient_nbr    0.036439
 race           0.036439
 T1             0.036439
 T2             0.036439
 T3             0.036439
 T4             0.036439
 T5             0.036439
 T6             0.036439
 dtype: float64,
 patient_nbr    0.005206
 race           0.005206
 T1             0.005206
 T2             0.005206
 T3             0.005206
 T4             0.005206
 T5             0.005206
 T6             0.005206
 dtype: float64,
 patient_nbr    0.0
 race           0.0
 T1             0.0
 T2             0.0
 T3             0.0
 T4             0.0
 T5             0.0
 T6             0.0
 dtype: float64,
 patient_nbr    0.026028
 race           0.026028
 T1             0.026028
 T2             0.026028
 T3             0.026028
 T4             0.026028
 T5             0.026028
 T6             0.026028
 dtype: float64,
 patient_nbr    0.0
 race           0.0
 T1             0.0
 T2             0.0
 T3             0.0
 T4             0.0
 T5             0.0
 T6             0.0
 dtype: float64,
 patient_nbr    0.0
 race           0.0
 T1             0.0
 T2             0.0
 T3             0.0
 T4             0.0
 T5             0.0
 T6             0.0
 dtype: float64,
 patient_nbr    35.965643
 race           35.965643
 T1             35.965643
 T2             35.965643
 T3             35.965643
 T4             35.965643
 T5             35.965643
 T6             35.965643
 dtype: float64]